.knowledge-base-container {
    padding: 20px;
    position: absolute;
    top: 80px;
    left: 220px;
    width: calc(100vw - 260px);
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.chat-container {
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
}
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.button {
  margin: 5px;
  min-width: 80px;
  border-radius: 25px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  z-index: 0;
  font-size: 15px;
  transition: 0.1s;
  font-weight: 500;
  background-color: #4b4b4b;
  color: #ffffff;
}

.chat-container {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.input-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  height: 32px;
}

.custom-popup-class {
  max-width: 80vw; /* 限制最大宽度为视口宽度的 80% */
}

.custom-popup-class .swal2-html-container {
  margin: 1em 0; /* 调整内容的上下边距 */
}

.message {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}
.message.error {
  background-color: #ffebee;
  color: #fba5a5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user {
  background-color: #e6f3ff;
  text-align: right;
}

.assistant {
  background-color: #f0f0f0;
}

form {
  display: flex;
}

input {
  flex-grow: 1;
  margin-right: 10px;
}
