.knowledge-base-container {
    position: absolute;
    top: 80px;
    left: 220px;
    width: calc(100% - 250px);
    height: calc(100% - 125px);
    overflow: visible;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.chat-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  padding-top: 20px; /* 在顶部增加 20px 的空白 */
  padding-bottom: 20px; /* 在底部增加 80px 的空白,为表单留出空间 */
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.button {
  margin: 5px;
  min-width: 80px;
  border-radius: 25px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  z-index: 0;
  font-size: 15px;
  transition: 0.1s;
  font-weight: 500;
  background-color: #4b4b4b;
  color: #ffffff;
}

.input-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  height: 32px;
  flex: 1; /* 自动填充 form 的剩余空间 */
}

.custom-popup-class {
  max-width: 80vw; /* 限制最大宽度为视口宽度的 80% */
}

.custom-popup-class .swal2-html-container {
  margin: 1em 0; /* 调整内容的上下边距 */
}

.message {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  user-select: text !important;
  line-height: 1.5;
}
.message.error {
  background-color: #ffebee;
  color: #fba5a5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user {
  background-color: #f0f0f0;
  text-align: right;
}

.assistant {
  background-color: #ffffff;
  /*border: 1px solid #ccc;*/
}

form {
  margin-top: auto; /* 将表单推到底部 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  flex-grow: 1;
  margin-right: 10px;
}
